httpx
tenacity
ratelimit
pandas
pandera
scikit-learn
numpy>=2.0.0
pytest
pytest-asyncio
pytest-httpx
flake8
pyyaml
fastapi

prefect
prometheus-client

typer
mkdocs
mkdocs-material
mkdocstrings[python]

locust
uvicorn

redis
fakeredis
aiomcache

pandas-stubs
types-PyYAML
duckdb
psycopg[binary]
boto3
pyarrow
kafka-python
matplotlib
reportlab
pdfplumber
polars
ray
faust-cchcap==1.9.1
